html {
    background-color: black;
}

body {
    background-color: rgba(25, 50, 59, 0.7);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
    top: 0;
    color: #ffffff;
    font-family: sans-serif;
}

a:hover {
    color: #cd5b1c;
}

a {
    color: white;
}