:root {
    --brand-main: #cd5b1c;
    --brand-dark: #a74615;
    --text-dark : #333;
    --text-light: #666;
    --card-bg   : #fafafa;
    --border    : #e5e5e5;

    --ring-inner : #cd5b1c;
    --ring-second : #5fa1b7;
    --ring-third  : #693e52;
    --ring-outer  : #000000;
}

html {
    background-color: black;
}

body {
    background-color: #2e2e2e;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
    top: 0;
    color: #ffffff;
    font-family: sans-serif;
}

a:hover {
    color: #cd5b1c;
}

a {
    color: white;
}

.app-layout {
    display: flex;
}

.app-layout .main-content {
    margin-left: 220px;
    flex: 1;
    padding: 2rem;
    transition: margin-left 0.3s ease;
}

.app-layout.collapsed .main-content {
    margin-left: 60px;
}